.requested_service {
    position: relative;
}

.service_name {
    position: absolute;
    top: 24px;
    left: 24px;
    color: white;
}

.cost_container {
    padding: 24px;
    background-color: #0076FF;
    color: white;
}

.cost {
    font-size: 16px;
}

.cost_caption {
    font-size: 14px;
    font-weight: 300;
}

.total_cost {
    font-size: 24px;

    margin-bottom: 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 24px;
}

.form > label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
}

.form > input {
    margin-bottom: 24px;
    width: 100%;
    height: 40px;
    border: solid 1px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.form > button {
    width: 100%;
    height: 48px;
    background-color: #0076ff;
    border: none;
    color: white;
    
}